/* Mobile */

/* Override jquery-mobile defaults */
.ui-page-theme-a .ui-bar-inherit {
    background-color: #3A5BA0;
    text-shadow: none;
    color: white;
}

/* Welcome */
.welcome-image {
    display: block;
    margin: 0 auto;
}
.welcome-content h1 {
    text-align: center;
}

/* About */
#map-canvas {
    height: 500px;
}

/* Contact */
.contact .form-control  {
    margin: 25px 0;
}

/* Validation Error Helpers */
.contact label span {
    display: none;
}

.contact label span.invalid {
    display: inline;
    color: red;
}

/* Larger Smart-Phone and Tablet Devices */
@media screen and (min-width: 321px) {
}

/* Desktop Devices */
@media screen and (min-width: 800px) {
    /* Welcome */
    .welcome-image {
        float: left;
    }
    .welcome-content {
        float: right;
        width: 475px;
    }
    .welcome-content h1 {
        text-align: left;
    }
}
